#tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tile {
  stroke: #fff;
}

.tile-text {
  font-size: 10px;
}

#legend rect {
  stroke: #000;
  stroke-width: 1px;
}

#legend text {
  font-size: 12px;
}
